@import './variable';

#app-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  line-height: 50px;
  border-top: 2px solid $orange;
  background-color: $white;
  box-shadow: 0 0 5px rgba(0,0,0,.4);

	nav {
		>ul {
			float: left;
			margin-bottom: 0;

			li {
				padding: 0 15px;

				a {
					font-size: 16px;

					&.active, &:hover {
						color: $orange;
						text-decoration: none;
					}

					i {
						margin-right: 5px;
					}
				}
			}
		}

		>a {
			float: right;
			&:hover {
				color: $orange;
			}
		}
	}

	.mobile-nav {
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: center;

    >h1 {
	    font-size: 20px;
	    display: inline-block;

	    i {
	      margin-right: 8px;
	    }
    }

    >a {
			position: absolute;
			font-size: 25px;
	    top: 10px;
	    right: 14px;
	    display: inline-block;
	    line-height: initial;
    }
	}

	@media(max-width: 767px) {
		nav {
			>ul {
				text-align: center;
				width: 100%;

				li {
					width: 100%;
					a {
						i {
							margin: 0 15px;
						}

						span {
							width: 16vw;
					    display: inline-block;
					    text-align: left;
						}
					}
				}
			}
			>a {
				width: 100%;
			}
		}

		.mobile-directories {
			border-top: 1px solid #eee;
	    text-align: center;
		}
	}
}