@import './variable';

body, a {
	font-family: "Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;
	color: $gray-black;
}

body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote {
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

a:hover, a:focus {
	color: inherit;
}